#root {
  font-family: 'Poppins', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
}


main.content {
  padding-top: 48px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background-image: url('/images/image7.jpg'); 
  background-size: cover;           
  background-repeat: no-repeat;    
  background-position: center;  
  height: 100vh;                   
  background-attachment: fixed;   
 
}

.modal-footer .button-custom {
  background-color: #4CAF50 !important;  /* Custom green background */
  color: white !important;
  border: none !important;
  padding: 10px 10px !important;
  border-radius: 5px !important;
  transition: background-color 0.3s ease !important;
}

.modal-footer .button-custom:hover {
  background-color: #45a049 !important;  /* Darker green on hover */
}